/********** section products **********/

/* Setting Categories */
#hosting {
    display: flex;
    flex-direction: row;
}

#products {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 25px;
}

#allproduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1%;
    border-radius: 10px;
}

/* Title section products */

#products h3 {
    font-weight: 600;
    margin-top: 0;
}



/* One article */

#products #allproduct .card-hotel {
    margin: 1%;
    background-color: white;
    width: 200px;
    border-radius: 30px;
    height: 220px;
    padding: 5px;
    box-shadow: 0 5px 7px #0000002e;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

#products #allproduct .card-hotel a {
    text-decoration: none;
}

#products #allproduct .card-hotel img {
    width: 100%;
    height: 98px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

#products #allproduct .card-hotel .description {
    padding: 0 5%;
}

#hosting #products #allproduct .card-hotel .description .title_product {
    font-weight: 600;
    font-size: 13px;
    margin: 0px 0 10px 0px;
}

#hosting #products #allproduct .card-hotel .description .price {
    font-size: 12px;
    margin-top: 0;
}

#products #allproduct .card-hotel .description {
    padding: 0 5%;
}

#products #allproduct .card-hotel .description {
    margin: 0;

}

/***** Rating ******/

#products #allproduct .card-hotel .description span i {
    color: #F2F2F2;
}

#products #allproduct .card-hotel .description .three-stars i:nth-child(-n+3) {
    color: #0065FC;
}

#products #allproduct .card-hotel .description .four-stars i:nth-child(-n+4) {
    color: #0065FC;
}

#products #allproduct .card-hotel .description .five-stars i {
    color: #0065FC;
}

/**** See More ****/
#products .see-more a {
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

/* Aside Most Popular product*/

#most-popular {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 46%;
    padding: 20px;
    display: grid;
}

#most-popular .card-hotel {
    position: relative;
    margin-bottom: 20%;
}

.mosthotel {
    height: 120px;
    padding: 5px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 7px #0000002e;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* Title aside products */

.title-popular {
    position: relative;
    margin: 7px 0 0 0px;
}

.title-popular .fa-chart-line {
    padding-left: 13%;
}


#hosting #most-popular .group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/* One article */

#hosting #most-popular .card-hotel a {
    text-decoration: none;
}

#hosting #most-popular .card-hotel a .description {
    display: grid;
    height: 105px;
}

#hosting #most-popular .card-hotel .mosthotel a img {
    background-color: white;
    transition-duration: 0.1s;
    cursor: pointer;
    float: left;
    width: 41%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin: 0px 10px 2px 0px;
    object-fit: cover;
}


#hosting #most-popular .card-hotel a .description p {
    font-size: 12px;
    margin: 0;
    flex-wrap: wrap;
}

#hosting #most-popular .card-hotel a .description h5 {
    margin: 0;
    font-size: 13px;
}

#hosting #most-popular .card-hotel a .description span {
    align-self: end;
}

/* Rate */
#hosting #most-popular .card-hotel a .description i {
    color: #F2F2F2;
}

/***** Rating ******/

#hosting #most-popular .card-hotel a .description .five-stars i {
    color: #0065FC;
}

#hosting #most-popular .card-hotel a .description .four-stars i:nth-child(-n+4) {
    color: #0065FC;
}

/* RESPONSIVE */

/* TABLETTE */

@media screen and (min-width: 769px) and (max-width: 991px) {

    #hosting {
        padding: 1%;
    }
    #products {
        margin-right: 12px;
    }

    #products #allproduct #products h3 {
        font-size: 12px;
    }

    #products #allproduct .card-hotel {
        height: 179px;
        width: 159px;
    }

    #products #allproduct .card-hotel img {
        height: 63px;
    }
    
    #products #allproduct .card-hotel .description {
        margin: 0;
        line-height: 15Px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85px;
    }
    
    #hosting #products #allproduct .card-hotel .description .title_product {
        margin: 0px 0 10px 0px;
    }

    #hosting #most-popular .card-hotel a .description h5 {
        margin: 0;
        font-size: 13px;
    }
    #most-popular {
        width: 48%;
        padding: 11px;
    }

    #most-popular .title-popular {
        margin: 7px 0 9px 0px;
        font-size: 16px;
    }
    .mosthotel {
        padding: 4px;
    }

    #hosting #most-popular .card-hotel .mosthotel a img {
        width: 24%;
    }
}

/* MOBILE */

@media screen and (min-width: 300px) and (max-width: 768px) {

    main .info {
        padding: 20px;
    }

    #hosting {
        flex-direction: column-reverse;
        width: 100%;
        align-self: center;
    }

    .card-hotel {
        position: relative;
        margin-bottom: 13%;
    }

    .mosthotel {
        height: 120px;
    }

    #most-popular {
        background-color: #f2f2f2;
        border-radius: 0;
        width: 100%;
        padding: 20px;
        display: grid;
        align-self: center;
    }

    /* Title aside products */

    .title-popular {
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #hosting #most-popular .group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #hosting #most-popular .card-hotel a .description h5 {
        margin: 0;
        font-size: 14px;
    }

    /* Basic Hosting */

    #products {
        background-color: white;
        border-radius: 0;
        margin-right: 0;
    }

    #allproduct {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 0;
        border-radius: 0;
    }
    
    #products #allproduct .card-hotel {
        width: 100%;
        height: 100%;
    }
    #products #allproduct .card-hotel img {
        height: 150px;
    }

    #hosting #products #allproduct .card-hotel .description .title_product {

        margin-top: 0;
    }

    #products h3 {
        font-size: 20px;
    }
}