/****** Start - Main *******/

/* Filter Categories */

#filter {
  display: flex;
  align-items: center;
}

#filter ul {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
}

.select_filter {
  display: flex;
  align-items: center;
  width: auto;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  cursor: pointer;
}


.select_filter h4 {
  margin: 0;
  padding-right: 10px;
}

.filter {
  display: flex;
  align-items: center;
}

.img_filter {
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.img_filter:hover,
.select_filter:hover {
  background-color: #F2F2F2;
}

.icons {
  color: #0065fc;
}


/******  Info *******/

main .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main .info .fa-info {
  text-align: center;
  margin-right: 1%;
  padding: 5px 10px;
  color: #0065FC;
  border-radius: 50%;
  border-style: solid;
  border-color: #F2F2F2;
}



/* RESPONSIVE */

/* TABLETTE */

@media screen and (min-width: 768px) and (max-width: 991px) {
  #filter { 
    padding: 0px 30px;
    flex-wrap: wrap;
  }
  #filter h4{
    margin-bottom: 0; 
  }
  #filter ul {  
    flex-wrap: wrap;
  } 
  .select_filter {
    margin: 9px 19px;
  }

  main .info {
    padding-left: 30px;
}
  
}

/* MOBILE */

@media screen and (min-width: 300px) and (max-width: 768px) {

  #filter {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
  }

  #filter h4 {
    margin: 0;
  }

  #filter ul {
    margin-bottom: 0;
    flex-wrap: wrap;
    padding: 0;
  }

  #filter ul .select_filter {
    margin: 10px;
  }

  main .info {
    padding: 20px;
  }
  
}
