@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: black;
}
body{
  width: 992px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
}
/*** Start - Header ***/

/* Menu */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  padding: 25px 0px;
}

header #logo img {
  width: 50%;
}

header .navbar .menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

header .navbar .menu li {
  padding: 50px 25px;
  border-top: 4px solid transparent;
  margin: 0 20px 0px 20px;
}

header .navbar .menu li:hover {
  border-color: #0065fc;
}

header .navbar .menu li a {
  color: black;
  text-decoration: none;
}

header .navbar .menu li:hover a {
  color: #0065fc;
}
/*** END - Header ***/

/*** Title & Search ***/

/* Title */

section .title{
  line-height: 20px;
  margin: 0;
}

section .title p{
  font-size: x-large;
}

/* Seach Bar */
section .searchbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
section .searchbar .fa-map-marker-alt{
  border-radius: 20% 0% 0% 20%;;
  padding: 22px 23px;
  background-color: #F2F2F2;
}
section .searchbar #localisation{
  padding: 1%;
  font-weight: 600;
  border: solid 1px #F2F2F2;
}
section .searchbar .btn-search{
  border-radius: 0px 18px 18px 0;
  padding: 1%;
  background-color: #0065FC;
  border-style: none;
  cursor: pointer;
}
section .searchbar .btn-search span {
  color: white;
  font-weight: 600;
}
section .searchbar .btn-search .fa-search {
  display: none;
}

/****** Start - Main *******/

/* Filter Categories */

#filter {
  display: flex;
  align-items: center;
}

#filter ul {
  margin:2% 0; 
  display: flex;
  flex-direction: row;
}
    
.select_filter{
  display: flex;
  align-items: center;
  width: auto;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  font-weight: bold;
  cursor:pointer; 
  margin-right: 20px;
  cursor: pointer;
}


.select_filter h4{
  margin: 0;
  padding-right: 10px;
}
  
.filter {
  display: flex;
  align-items: center;
}
  
.img_filter{
  padding: 15px 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.img_filter:hover, .select_filter:hover{
  background-color: #F2F2F2;
}
  
.icons {
  color: #0065fc;
}

  
/******  Info *******/

main .info{
  display: flex;
  flex-direction: row; 
  justify-content:flex-start;
  align-items: center;
}
main .info .fa-info{
  text-align: center;
  margin-right: 1%;
  padding: 5px 10px;
  color: #0065FC;
  border-radius: 50%; 
  border-style: solid;
  border-color: #F2F2F2;
}

/********** section products **********/

/* Setting Categories */
#hosting{
  display: flex;
  flex-direction: row;
}

#products{
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-right: 25px;
}

#allproduct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1%;
  border-radius: 10px;
}

/* Title section products */

#products h3{
  font-weight: 600;
  margin-top: 0;
}



/* One article */

#products #allproduct .card-hotel{
  margin: 1%;
  background-color: white;
  width: 190px;
  border-radius: 30px;
  height: 201px;
  padding: 5px;
  box-shadow: 0 5px 7px #0000002e;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
#products #allproduct .card-hotel a{
  text-decoration: none;
}

#products #allproduct .card-hotel img {
  width: 100%;
  height: 98px;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}

#products #allproduct .card-hotel .description{
  padding: 0 5%;
}

#hosting #products #allproduct .card-hotel .description .title_product {
  font-weight: 600;
  font-size: 13px;
  margin: 10px 0 10px 0px;
}

#hosting #products #allproduct .card-hotel .description .price{
  font-size: 12px;
  margin-top: 0;
}
 
#products #allproduct .card-hotel .description{
  padding: 0 5%;
}

#products #allproduct .card-hotel .description {
  margin:0;
  
}
/***** Rating ******/

#products #allproduct .card-hotel .description span i{
  color: #F2F2F2;
}

#products #allproduct .card-hotel .description .three-stars i:nth-child(-n+3){
  color: #0065FC;
}

#products #allproduct .card-hotel .description .four-stars i:nth-child(-n+4){
  color: #0065FC;
}

#products #allproduct .card-hotel .description .five-stars i{
  color: #0065FC;
}

/**** See More ****/
#products .see-more a {
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}

/* Aside Most Popular product*/

#most-popular{
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 46%;
  padding: 20px;
  display: grid;
}

.card-hotel {
  position: relative;
  margin-bottom: 13%;
}

.mosthotel {
  height: 120px;
  padding: 5px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 7px #0000002e;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Title aside products */

.title-popular{
  position: relative;
  margin: 7px 0 0 0px;
}
.title-popular .fa-chart-line{
  padding-left: 13%;
}


#hosting #most-popular .group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



/* One article */

#hosting #most-popular .card-hotel a{
  text-decoration: none;
}

#hosting #most-popular .card-hotel a .description{
  display: grid;
  height: 105px;
}

#hosting #most-popular .card-hotel .mosthotel a img {
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  float: left;
  width: 41%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  margin: 0px 10px 2px 0px;
  object-fit: cover;
}


#hosting #most-popular .card-hotel a .description p {
  font-size: 12px;
  margin: 0;
  flex-wrap: wrap;
}
#hosting #most-popular .card-hotel a .description h5 {
  margin: 12px 0 0 0;
  font-size: 14px;
}
#hosting #most-popular .card-hotel a .description span{
  align-self: end;
}

/* Rate */
#hosting #most-popular .card-hotel a .description  i{
  color: #F2F2F2;
}

/***** Rating ******/

#hosting #most-popular .card-hotel a .description .five-stars i{
  color: #0065FC;
}

#hosting #most-popular .card-hotel a  .description .four-stars i:nth-child(-n+4){
  color: #0065FC;
}

/* section Activities */

#activities {
  width: 78%;
}
  
.container_activites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 496px;
  margin-bottom: 100px;;
}
  
.block_activities {
  width: 30%;
  margin: 1%;
}
  
.activities {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 5px #0000002e;
  cursor: pointer;
}

.activities a{
  text-decoration: none;
}

/* Title section activities */  

.title_activities{
  color: black;
  font-size: 1.3em;
  padding-left: 8px;
}
  
.activities img {
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
  
.activities_1 {
  height: 454px;
}
.activities_4 {
  height: 437px;
}

.activities_2 {
  height: 200px;
}
  
.activities_3 {
  height: 110px;
}
  
.activities_5 {
  height: 140px;
}
  
.activities_6 {
  height: 140px;
}
  
.my_activities {
  padding: 0 0px 5px 20px;
}
  
.activity_2 {
  margin: 0px 0px 77px;
}
  
.activity_5 {
  margin: 0px 0px 107px;
}
  
.activity_3 {
  margin: 0px 0px 89px;
}
  


/*  Footer */
footer {
  background-color: #f2f2f2;
   width: 100%;
}
.block_footer{
  padding: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block_footer .columun_footer {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.block_footer .columun_footer ul{
  flex-direction: column;
  justify-content: space-between;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.block_footer .columun_footer ul li{
  margin-left: 0;
  list-style-type: none;
}
.block_footer .columun_footer ul li a{
  text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 768px){
  body{
    width: auto;
    -webkit-text-size-adjust: 100%;
  }
  header {
    display: flow-root;
    flex-direction: column;
  }

  header #logo {
  text-align: center;
  }

  header #logo img{
    width: 23%;
  }


  header .navbar .menu{
    margin: 0px -11px;
    padding: 0;
  }

  header .navbar .menu li {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
  }
  header .navbar .menu li:hover {
  border-bottom: 2px solid #0065fc;
  }


  section .title {
    padding: 20px 40px 10px 30px;
  }

  section .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    padding: 0px 0 0 21px;
  }
  section .searchbar #localisation {
    padding: 20px 15px;
    font-size: 10px;
  }
  section .searchbar .btn-search {
    padding: 11px 22px;
    font-size: 15px;
  }
  section .searchbar .fa-map-marker-alt {
    padding: 11px 18px;
    font-size: 32px;
  }
  section .searchbar .btn-search p{
    display:none; 
  }
  section .searchbar .btn-search .fa-search{
    color: white;
    display: contents;
    font-size: 30px;
  }

  #filter {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
  }
  #filter h4{
    margin: 0;
  }

  #filter ul {
    margin-bottom: 0;
    flex-wrap: wrap;
    padding: 0;
  }

  #filter ul .select_filter {
    margin: 10px;
  }

  main .info {
    padding: 20px;
  }
  #hosting {
    flex-direction: column-reverse;
    width: 100%;
    align-self: center;
  }
  
  .card-hotel {
    position: relative;
    margin-bottom: 13%;
  }
  
  .mosthotel {
    height: 120px;
  }
  #most-popular {
    background-color: #f2f2f2;
    border-radius: 0;
    width: 100%;
    padding: 20px;
    display: grid;
    align-self: center;
  }
  /* Title aside products */

  .title-popular {
    margin: 7px 0 9px 0px;
    text-align: center;
  }
  .title-popular .fa-chart-line{
    padding-left: 13%;
  }
  
  #hosting #most-popular .group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  


  #products {
    background-color: white; 
    border-radius: 0; 
    margin-right: 0; 
  }

  #allproduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    border-radius: 0;
  }
  #products #allproduct .card-hotel {
    width: 100%;  
  }
  #products h3 {
    font-size: 20px;
    text-align: center;
  }
  #products .see-more  {
    text-align: center;
  }
  #activities {
    width: 100%;
    margin: 0 auto;
  }

  .container_activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex-wrap: nowrap;
  }
  .block_activities {
    width: 80%;
    margin-bottom: 20px;
  }
  .title_activities {
    color: black;
    font-size: 20px;
    padding-left: 15px;
    text-align: center;
  }
  .activity_2, .activity_5 {
    margin-bottom: 20px;
  }
  .block_footer {
    flex-direction: column;   
  }
 .activities_1, .activities_3, .activities_4, .activities_5, .activities_6{
   height: 150px;
 }

}